html, body{

  margin: 0 auto;
	padding: 0;
  font-size: 15px;
  min-width: 330px;
  /* 常用字体设置 */
  /* 一淘 */
  /* font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif; */
  /* 小米官网 */
  /* font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; */
  /* 淘宝 */
  /* font: Tahoma,Helvetica,Arial,'宋体',sans-serif; */
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
#app{
  margin: 0 auto;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
p,a,ul,ol,li,span{
  font-weight: 300;
  border: 0;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #333;
}

@media (max-width:800px){
  body{
    width: 100%!important;
    font-size: .32rem;
  }
  #app{
    width: 100%;
  }
  .el-menu{
    display: flex;
    text-align: center;
  }
  .el-menu-item{
    padding: 0 10px;
  }

}
